---
import volunteerImage from "../assets/volunteer-v3.png";
---

<section class="bg-[#FAF7F2] py-10 sm:py-12">
  <div class="mx-auto max-w-7xl px-5 sm:px-6">
    <img
      src={volunteerImage.src}
      alt=""
      class="h-[80vh] min-h-[520px] w-full rounded-[2rem] object-cover lg:rounded-[3rem]"
    />
  </div>
</section>
