---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Children First Foundation</title>
		<meta
		  name="description"
		  content="Empowering children through education, opportunity and community support."
		/>
		<meta
		  name="keywords"
		  content="children foundation, education, nonprofit, volunteer, donate"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
