<section class="bg-white py-24">
  <div class="max-w-7xl mx-auto px-6">

    <div class="grid md:grid-cols-2 gap-12 items-center">

      <!-- Image Placeholder -->
      <div>
        <img
          src="src/assets/dream.png"
          alt="Children learning"
          class="w-full rounded-3xl shadow-lg"
        />
      </div>

      <!-- Content -->
      <div>

        <p class="text-[#5D9C59] font-semibold uppercase tracking-wider mb-4">
          Our Mission
        </p>

        <h2 class="text-5xl font-bold text-[#2F3A45] mb-6">
          A Dream Begins
          With Opportunity
        </h2>

        <p class="text-xl text-gray-600 leading-relaxed">
          For many children, education is more than learning.
          It is a pathway to confidence, independence and a
          brighter future.
        </p>

      </div>

    </div>

  </div>
</section>