---
import Layout from '../layouts/Layout.astro';
import NavbarV5 from '../components/NavbarV5.astro';
import ContactV5 from '../components/ContactV5.astro';
import FooterV5 from '../components/FooterV5.astro';
---

<Layout>
	<NavbarV5 />
	<main>
		<ContactV5 />
	</main>
	<FooterV5 />
</Layout>
