---
import Layout from '../layouts/Layout.astro';
import NavbarV5 from '../components/NavbarV5.astro';
import FoundersHeroV5 from '../components/FoundersHeroV5.astro';
import FounderStoryV5 from '../components/FounderStoryV5.astro';
import FounderPrinciplesV5 from '../components/FounderPrinciplesV5.astro';
import LeadershipCircleV5 from '../components/LeadershipCircleV5.astro';
import MovementCommitmentV5 from '../components/MovementCommitmentV5.astro';
import FinalCTAV5 from '../components/FinalCTAV5.astro';
import FooterV5 from '../components/FooterV5.astro';
---

<Layout>
	<NavbarV5 />
	<main>
		<FoundersHeroV5 />
		<FounderStoryV5 />
		<FounderPrinciplesV5 />
		<LeadershipCircleV5 />
		<MovementCommitmentV5 />
		<FinalCTAV5 />
	</main>
	<FooterV5 />
</Layout>
