---
import Layout from '../layouts/Layout.astro';
import NavbarV5 from '../components/NavbarV5.astro';
import HeroV5 from '../components/HeroV5.astro';
import MovementStatementV5 from '../components/MovementStatementV5.astro';
import ProgramsPreviewV5 from '../components/ProgramsPreviewV5.astro';
import ImpactStoriesV5 from '../components/ImpactStoriesV5.astro';
import VolunteerMovementV5 from '../components/VolunteerMovementV5.astro';
import CommunityGalleryV5 from '../components/CommunityGalleryV5.astro';
import FinalCTAV5 from '../components/FinalCTAV5.astro';
import FooterV5 from '../components/FooterV5.astro';
---

<Layout>
	<NavbarV5 />
	<main>
		<HeroV5 />
		<MovementStatementV5 />
		<ProgramsPreviewV5 />
		<ImpactStoriesV5 />
		<VolunteerMovementV5 />
		<CommunityGalleryV5 />
		<FinalCTAV5 />
	</main>
	<FooterV5 />
</Layout>
