---
import Layout from '../layouts/Layout.astro';
import NavbarV5 from '../components/NavbarV5.astro';
import StoriesHeroV5 from '../components/StoriesHeroV5.astro';
import FeaturedStoryV5 from '../components/FeaturedStoryV5.astro';
import StoryMomentsV5 from '../components/StoryMomentsV5.astro';
import CommunityVoicesV5 from '../components/CommunityVoicesV5.astro';
import StoryGalleryV5 from '../components/StoryGalleryV5.astro';
import FinalCTAV5 from '../components/FinalCTAV5.astro';
import FooterV5 from '../components/FooterV5.astro';
---

<Layout>
	<NavbarV5 />
	<main>
		<StoriesHeroV5 />
		<FeaturedStoryV5 />
		<StoryMomentsV5 />
		<CommunityVoicesV5 />
		<StoryGalleryV5 />
		<FinalCTAV5 />
	</main>
	<FooterV5 />
</Layout>
